body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.basic-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: blueviolet;
    gap: 10px;
    padding: 10px;
}

.basic-grid>div{
    border: 1px solid #ccc;
    text-align: center;
    line-height: 52px;
    background-color: #ffffffcc;
    padding: 15px;
    /*box-shadow: -5px 5px #cccccc;*/
}

.item1{
    grid-column-start: 1;
    grid-column-end: 3;
}

.item6{
    grid-column: 2/4;
}

.item5{
    grid-row: 2/4;
}