body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner {
    height: 400px;
    background-image: url("../images/darkblue.jpg");
    background-size: cover;
    background-position: bottom;
    margin-top: 60px;
}

.img-thumbnail {
    padding: 0.5rem;
}

.rounded-circle>img {
    position: relative;
    left: -40px;
}

#profile-photo {
    max-width: 200px;
    max-height: 200px;
    overflow: none;
    margin: 100px auto;
}

#profile-photo>img {
    width: 100%;
    height: auto;
}

