.container {
    display: flex;
    flex-direction: column;
    margin: 100px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px #c7bcbc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.profile {
    text-align: center;
    margin-bottom: 50px;
}

#name {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

section h3 {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    margin-bottom: 30px;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #0816db;
}

.summary>p, 
.skills>ul,
.experience>h4,
.experience>p, 
.experience>ul,
.education>h4,
.education>p,
.certifications>h4,
.certifications>p,
.projects>h4,
.projects>p,
.references>p {
    padding: 0px 150px;
    text-align: justify;
}

footer {
    text-align: center;
    font-size: 0.9rem;
    color: #777;
    margin-top: 20px;
}