.container {
    display: flex;
    flex-direction: column;
    margin: 75px 100px 100px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px #c7bcbc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.profile {
    text-align: center;
    margin-bottom: 50px;
}

#name {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contacts {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover { color: #128ee0; }

section {
    margin-bottom: 50px;
}

h3 {
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}

.summary>p, 
.skills>ul,
.experience>h4,
.experience>p, 
.experience>ul,
.education>h4,
.education>p,
.certifications>h4,
.certifications>p,
.projects>h4,
.projects>p,
.references>p {
    padding-left: 100px;
    text-align: justify;
}

footer {
    text-align: center;
    font-size: 0.9rem;
    color: #777;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .container {
        margin: 20px;
        padding: 20px;
    }

    .summary>p, 
    .skills>ul,
    .experience>h4,
    .experience>p, 
    .experience>ul,
    .education>h4,
    .education>p,
    .certifications>h4,
    .certifications>p,
    .projects>h4,
    .projects>p,
    .references>p {
        padding-left: 20px;
    }

    footer {
        flex-wrap: nowrap;
        text-align: center;
        font-size: 0.8rem;
        color: #777;
        margin-top: 20px;
    }
}   