.container 
{
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px #c7bcbc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.profile 
{
    text-align: center;
    margin-bottom: 30px;
}
#name
{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

a 
{
    text-decoration: none;
    color: black;
}

a:hover 
{
    color: #0816db;
}

.summary>p, .summary>h4, .skills>ul, .skills>h4, .experience>p, .experience>ul, .experience>h4, .education>p, .education>h4, .certifications>p, .certifications>h4, .projects>p, .projects>h4
{
    padding: 0px 100px ;
    text-align: justify;
    margin-bottom: 50px;
}

footer 
{
    text-align: center;
    font-size: 0.9rem;
    color: #777;
    margin-top: 20px;
}